body{
    margin: auto
}

.iContainer {
    position: relative;
    width: 100%;
    height: 150px;
    /* background-color: coral */
}

.iHelp {
    position: absolute;
    width: 100%;
    top: 40%;
    text-align: center;
    font-size: 320%;
    font-family: "Berkshire Swash", cursive
}

.iHelp1 {
    /* position: relative; */
    /* background-color: purple; */
    width: 100%;
    /* top: 10%; */
    text-align: center;
    font-family: "Rajdhani", sans-serif;
    font-size: 150%;
    color: black
}

.iContainer1 {
    display: flex;
    justify-content: center;
    /* position: relative; */
    width: 100%;
    height: 380px;
    background-color: linen;
}

.box {
    position: relative;
    width: 624px;
    height: 80%; 
    /* top:10%; */
    /* padding: 0 25% 0 25%; */
    /* border-style: dotted;
    border-color: aqua */
} 

.help {
    position: absolute;
    width: 100%;
    text-align: center;
}

.contactMe {
    position: relative;
    font-family: "Rajdhani", sans-serif;
    font-size: 150%;
    display: block;
    text-align: center;
    /* float: right; */
    /* padding: 30px 30px 0px 80px; */
    font-weight: bolder;
  }

a {
    text-decoration: none;
    color: rgb(116, 108, 40);
    text-align: center
}


@media only screen and (max-width: 630px) {
    .iHelp1{
        font-size: 120%;
    }


    /* .box {
        width: 400px;
    } */
}

@media only screen and (max-width: 420px) {
    .iHelp1{
        font-size: 100%;
    }

    .contactMe {
        font-size: 120%
    }


    /* .box {
        width: 400px;
    } */
}

@media only screen and (max-width: 345px) {
    /* .iHelp1{
        font-size: 100%;
    } */

    .contactMe {
        font-size: 110%
    }


    /* .box {
        width: 400px;
    } */
}

