body {
    margin: auto;
    color: rgb(116, 108, 40);
}

.introParagraph {
    position: relative;
    width: 100%;
    height: 1500px;
    /* background-color: blue */
}


.hiContainer {
    position: absolute;
    width: 100%;
    height: 50%;

}

.hi {
    position: absolute;
    width: 100%;
    top: 35%;
    text-align: center;
    font-size: 420%;
    font-family: "Berkshire Swash", cursive
}

.introContainer {
    position: absolute;
    width: 100%;
    height: 33%;
    /* background-color: pink; */
}

.introSetUp {
    position: absolute;
    /* background-color: purple; */
    width: 100%;
    top:50%;
    height: 50%;
    text-align: center;
    font-family: "Rajdhani", sans-serif;
    font-size: 200%;
    color: black
}

.break {
    position: absolute;
    top: 31%;
    width: 100%;
    height: 5%;
    text-align: center
}

.whatIDo {
    position: absolute;
    width: 100%;
    height: 62%;
    top: 38%;
    /* background-color: aqua */
}

.hiContainer1 {
    position: absolute;
    width: 100%;
    height: 10%;
    /* background-color: brown */
}

.hi1 {
    position: absolute;
    width: 100%;
    top: 20%;
    text-align: center;
    font-size: 350%;
    font-family: "Berkshire Swash", cursive
}

.webContainer {
    position: absolute;
    width: 100%;
    height: 90%;
    top:10%;
    /* background-color: pink      */
}

.frontEnd {
    position: absolute;
    width: 49.5%;
    height: 100%;
}

.divLine {
    position: absolute;
    width: 1%;
    height: 50%;
    top:10%;
    left:49.5%;
    border-right-style: solid;
    border-right-color:rgb(116, 108, 40);
}

.backEnd {
    position: absolute;
    width: 49.5%;
    height: 100%;
    left: 50%;
    
}

.devel {
    position: absolute;
    width: 100%;
    height:10%;
    top:5%;
    text-align: center;
    color: black;
    opacity: .8;
    font-family: "Berkshire Swash", cursive;
    /* background-color: brown */

}

.devel1 {
    position: absolute;
    width: 100%;
    height: 20%;
    top:15%;
    text-align: center;
    font-size: 175%;
    color: black;
    font-family: "Rajdhani", sans-serif;
    /* background-color: aquamarine */
}

.devel2 {
    position: absolute;
    width: 100%;
    height:10%;
    top:38%;
    text-align: center;
    color: black;
    font-family: "Berkshire Swash", cursive;
    /* background-color: greenyellow */

}

.devel3 {
    position: absolute;
    width: 100%;
    height: 35%;
    top:45%;
    font-size: 175%;
    color: black;
    text-align: center;
    font-family: "Rajdhani", sans-serif;
    /* background-color: aquamarine */

}

@media only screen and (max-width: 781px) {
    .introSetUp {
        font-size: 150%
    }

    .hi1 {
        font-size: 250%
    }

    .frontEnd{
        width: 100%;
        height: 50%;
    }
    .backEnd {
        width: 100%;
        height: 50%;
        top:50%;
        left: 0%;
    }
    .devel1 {
        top:20%;
        font-size: 150%
    }
    .devel2 {
        top: 53%
    }
    .devel3 {
        top: 65%;
        font-size: 150%
    }
    .divLine {
        width: 50%;
        height: .1%;
        top:49.5%;
        left:25%;
        border-bottom-style: solid;
        border-bottom-color:rgb(116, 108, 40);
    }
}

@media only screen and (max-width: 380px) {    
    .devel1 {
        top:20%;
        font-size: 130%
    }
    .devel3 {
        top: 65%;
        font-size: 130%
    }
}